<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <title>Symfony & Vue</title>
    </head>
    <body>
        <div id="app"></div>
        <script src="{{ asset('build/runtime.js') }}"></script>
        <script src="{{ asset('build/app.js') }}"></script>
    </body>
</html>
